html{
    height:auto;
    max-width:100%;
}
*{
    padding:0px;
    margin:0px;
}
body{
    background-color: white;
    height:90vh;
    max-width:100%;
}
.container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:500px;
    margin-left:40px;
}
.main-content{
    display:block;
    margin-left:60px;
}
.body h1{
    font-family: 'Space Mono', monospace;
    color: #333333;
}
.body h3{
    font-family: 'Inconsolata', monospace;
    color: #333333;
    margin-left:40px;
    margin-top:30px;
}
img{
   width:500px;
   height:400px;
}
p{
    font-family: 'Space Mono', monospace;
    color: #4F4F4F;
    max-width:60%;
}
button{
    background-color:#333333;
    font-family: 'Space Mono', monospace;
    margin-top:50px;
    width:150px;
    height:35px;
    color:#fff;
    border:none;
}
.mybtn{
    padding:5px;
    font-size:10px;
}
.foot{
       text-align:center;
       font-size: 15px;
       margin-top:70px;
       color: #BDBDBD;
}
/* -------------------------------------------1440PX---------------------------------------- */
@media all and (min-width:1440px){
    body{
        background-color: white;
        height:90vh;
        max-width:100%;
    }
    .body h3{
        margin-left:55px;
        margin-top:40px;
        font-size:30px;
        font-weight:bolder;
        color:#333333;
    }
    .container{
        display:flex;
        align-items:center;
        justify-content: space-between;
        height:900px;
        margin-left:40px;
    }
    .main-content{margin-left:150px;}
    img{
        width:550px;
        height:550px;
     }
     .body h1{
        font-size:60px;
        max-width:80%;
     }
     p{
        max-width:70%;
        font-size:30px;
    }
    button{
    margin-top:50px;
    width:250px;
    height:60px;
    }
    .mybtn{
        font-size:15px;
        letter-spacing: 2px;
        padding:10px;
    }
    .foot{
        font-size:20px;
        color: #BDBDBD;
        margin-top:70px;
    }
}
/* ------------------------------------------375PX---------------------------------------- */
@media all and (max-width:375px) {
    html{
        height:800px;
        max-width:90%;
    }
    body{
        height:90vh;
        max-width:100%;
    }
    .container{
        display:flex;
        flex-direction: column;
        height:700px;
        margin-top:100px;
        margin:0px;
        
    }
    img{
        width:250px;
        height:250px;
        margin-top:100px;
        margin-left:30px;
     }
    .body h1{
        font-size:35px;
        max-width:100%;
    }
    p{
        max-width:100%;
        font-size:16px;
    }
    button{
        margin-top:50px;
        width:200px;
        height:50px;
    }
    .mybtn{
            font-size:13px;
    }
    .foot{
        font-size:15px;
        margin-top:170px;
        color: #BDBDBD;
        padding-left:20px;
    }

}
